h2{
    text-align: center;
}
.row{
    text-align: center;
}
input[type='text'], input[type='email'], textarea{
    width: 300px;
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    margin-bottom: 10px;
}
textarea{
    height: 150px;
}
textarea.form-control{
    width: 300px;
}
input.butt{
    padding: 10px 30px;
    cursor: pointer;
}
#imagediv{
    width: 1024px;
    margin: 0 auto;
}
.fb-img{
    padding: 5px;
    border: solid 1px #E7E7E7;
    margin: 0 5px 5px 0;
    width: 185px;
    height: 185px;
    float: left;
    overflow: hidden;
}
.fb-img img{
    width: 185px;
    height: auto;
}
.welcome{
    text-align: center;
    margin: 10px 0;
}
.welcome input{
    width: 200px;
    padding: 10px 0;
}
.intro{
    text-align: center;
}
.intro div{
    padding: 5px 0;
    margin: 0 auto;
    margin-top: 0px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}
.intro a{
    color: #FFFFFF;
    font-weight:bold;
}